##
import(methods)

##
useDynLib(urca)

## Functions
export(ablrtest, alphaols, alrtest, blrtest, bh5lrtest, bh6lrtest, ca.jo, ca.po, cajolst, cajools, cajorls, lttest, plotres, punitroot, qunitroot, unitrootTable, ur.ers, ur.kpss, ur.pp, ur.df, ur.sp, ur.za)

## Classes       
exportClasses("urca", "ca.jo", "cajo.test", "ur.kpss", "ca.po", "ur.ers", "ur.pp", "ur.sp", "ur.df", "ur.za", "sumurca")

## Methods
exportMethods("show", "plot", "summary")

## Import functions
importFrom(graphics, plot)
if (!exists("BIC", envir=asNamespace("stats"))) {
    importFrom(nlme, BIC)
} else {
    importFrom(stats, BIC) # unless you already import stats
}
